:root {
  --theme-color-name: #b8956a;
  --c-primary: rgb(var(--rgb-primary));
  --c-primary-active: #a08050;
  --c-primary-light: #b8956a80;
  --c-primary-fade: #b8956a14;
  --rgb-primary: 184, 149, 106;
  --c-dark-primary: rgb(var(--rgb-dark-primary));
  --c-dark-primary-active: #e0b584;
  --c-dark-primary-light: #d4a57480;
  --c-dark-primary-fade: #d4a5741f;
  --rgb-dark-primary: 212, 165, 116;
}
